#
# Header file for data file C:\Users\radissj1\Documents\Matlab\Histology\NDPreader.co
#
# headerWriter.m (JA Disselhorst)
# Date: 08-Jul-2014 14:48:24
# User: radissj1
#
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# !!!                     No comment string available for filename                     !!!
# !!!                           Please add to headerWriter.m                           !!!
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#
filename V:\histology\JonathanD\FortueneI\b\JD_Fort_1.1-1.4_CD31_20140708.ndpi
#
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# !!!                    No comment string available for zoomlevel                     !!!
# !!!                           Please add to headerWriter.m                           !!!
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#
zoomlevel 5
#
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# !!!                    No comment string available for savefolder                    !!!
# !!!                           Please add to headerWriter.m                           !!!
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#
savefolder V:\histology\JonathanD\FortueneI\b
