#
# Header file for data file C:\Users\radissj1\Documents\REPOSITORY\MATLAB\Histology\NDPReader\NDPreader.co
#
# headerWriter.m (JA Disselhorst)
# Date: 02-Jul-2015 15:36:07
# User: radissj1
#
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# !!!                     No comment string available for filename                     !!!
# !!!                           Please add to headerWriter.m                           !!!
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#
filename V:\histology\JonathanD\MaLTT\Ther_Contr_24u72h\03A-C_MaLTT_Ther72h_CD31_MaLTT_Ther72h_CD31_03A-C - 2015-06-12 12.09.17.ndpi
#
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# !!!                    No comment string available for zoomlevel                     !!!
# !!!                           Please add to headerWriter.m                           !!!
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#
zoomlevel 8
#
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# !!!                    No comment string available for savefolder                    !!!
# !!!                           Please add to headerWriter.m                           !!!
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#
savefolder C:\Users\radissj1\Desktop\NDPi
