#
# Header file for data file C:\Users\radissj1\Documents\REPOSITORY\MATLAB\CT\CTSlicer.co
#
# headerWriter.m (JA Disselhorst)
# Date: 27-Aug-2015 16:31:11
# User: radissj1
#
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# !!!                   No comment string available for startFolder                    !!!
# !!!                           Please add to headerWriter.m                           !!!
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#
startFolder F:\DATA\OLDDATA\Paraffin\
